@import "../../../styles//mixin";

.connection {
  border-color: rgba(0, 0, 0, 0.23);
  padding: var(--space-24);
  border: 1px solid #dedede;
  margin-bottom: var(--space-32);
  border-radius: var(--border-radius-4);

  .item {
    display: flex;
    position: relative;
    padding-bottom: var(--space-12);

    & .column {
      flex: 1 1 auto;
    }

    & .column:last-child {
      flex: 1 1 auto;
      text-align: right;
    }

    & .column > div {
      padding-bottom: var(--space-12);
    }

    & .stop {
      position: absolute;
      left: var(--space-100);
      right: var(--space-100);
      top: var(--space-64);

      & .transfer {
        text-align: center;
        padding: var(--space-8) 0;
      }
    }

    & .line {
      display: block;
      position: absolute;
      height: 1px;
      background-color: #aaa;
      position: relative;
      left: 0;
      right: 0;

      &::before,
      &::after {
        content: "";
        display: block;
        width: var(--space-6);
        height: var(--space-6);
        top: -2.5px;
        position: absolute;
        background-color: #aaa;
        border-radius: 50%;
      }

      &::before {
        left: -4px;
      }

      &::after {
        right: -4px;
      }
    }
  }

  .sections {
    padding: var(--space-12) 0;
    width: 100%;
    margin-top: var(--space-24);

    .section {
      display: flex;
      border-top: 1px solid #dedede;
      padding: var(--space-24);

      @include sm-screen {
        font-size: var(--font-size-12);
        padding: var(--space-16);
      }

      @include md-screen {
        font-size: var(--font-size-14);
        padding: var(--space-20);
      }

      & > div {
        flex: 1 1 20%;

        &:first-child {
          flex: 2 1 40%;
        }

        &:nth-child(2) {
          text-align: center;
        }

        &:last-child {
          flex: 2 1 40%;
          text-align: right;
        }
      }
      &:first-child {
        border-left: none;
        border-top: none;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
