@use "../styles/variables" as *;

body {
  font-family: var(--font-family-primary);
  line-height: var(--line-height);
  min-height: 100vh;
  padding: var(--space-24);
  margin: 0;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
  text-decoration: none;
}
