@import "../styles/mixin";

.main {
  align-items: center;
  padding: var(--space-24);
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-width-xl);

  @include sm-screen {
    max-width: 100%;
  }
}

.heading {
  text-align: center;
  font-weight: normal;
  font-size: var(--font-size-24);
  margin-bottom: var(--space-24);
}
